<%#
社員が出勤と退勤を入力するための画面。

%>
<div class="stamping">
  <div class="row">

    <%# 出勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-success panel"}) do %>
    <%= icon("fas", "sign-in-alt") %>
    <br>
    出勤
    <% end  %>

    <%# 退勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-primary panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    退社
    <% end  %>

    <%# 休憩ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-warning panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    休憩
    <% end  %>
    <%# 出勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-success panel"}) do %>
    <%= icon("fas", "sign-in-alt") %>
    <br>
    出勤
    <% end  %>

    <%# 退勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-primary panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    退社
    <% end  %>

    <%# 休憩ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-warning panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    休憩
    <% end  %>
    <%# 出勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-success panel"}) do %>
    <%= icon("fas", "sign-in-alt") %>
    <br>
    出勤
    <% end  %>

    <%# 退勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-primary panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    退社
    <% end  %>

    <%# 休憩ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-warning panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    休憩
    <% end  %>
    <%# 出勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-success panel"}) do %>
    <%= icon("fas", "sign-in-alt") %>
    <br>
    出勤
    <% end  %>

    <%# 退勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-primary panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    退社
    <% end  %>

    <%# 休憩ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-warning panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    休憩
    <% end  %>
    <%# 出勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-success panel"}) do %>
    <%= icon("fas", "sign-in-alt") %>
    <br>
    出勤
    <% end  %>

    <%# 退勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-primary panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    退社
    <% end  %>

    <%# 休憩ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-warning panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    休憩
    <% end  %>
    <%# 出勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-success panel"}) do %>
    <%= icon("fas", "sign-in-alt") %>
    <br>
    出勤
    <% end  %>

    <%# 退勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-primary panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    退社
    <% end  %>

    <%# 休憩ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-warning panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    休憩
    <% end  %>
    <%# 出勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-success panel"}) do %>
    <%= icon("fas", "sign-in-alt") %>
    <br>
    出勤
    <% end  %>

    <%# 退勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-primary panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    退社
    <% end  %>

    <%# 休憩ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-warning panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    休憩
    <% end  %>
    <%# 出勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-success panel"}) do %>
    <%= icon("fas", "sign-in-alt") %>
    <br>
    出勤
    <% end  %>

    <%# 退勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-primary panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    退社
    <% end  %>

    <%# 休憩ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-warning panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    休憩
    <% end  %>
    <%# 出勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-success panel"}) do %>
    <%= icon("fas", "sign-in-alt") %>
    <br>
    出勤
    <% end  %>

    <%# 退勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-primary panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    退社
    <% end  %>

    <%# 休憩ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-warning panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    休憩
    <% end  %>
    <%# 出勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-success panel"}) do %>
    <%= icon("fas", "sign-in-alt") %>
    <br>
    出勤
    <% end  %>

    <%# 退勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-primary panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    退社
    <% end  %>

    <%# 休憩ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-warning panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    休憩
    <% end  %>
    <%# 出勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-success panel"}) do %>
    <%= icon("fas", "sign-in-alt") %>
    <br>
    出勤
    <% end  %>

    <%# 退勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-primary panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    退社
    <% end  %>

    <%# 休憩ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-warning panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    休憩
    <% end  %>
    <%# 出勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-success panel"}) do %>
    <%= icon("fas", "sign-in-alt") %>
    <br>
    出勤
    <% end  %>

    <%# 退勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-primary panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    退社
    <% end  %>

    <%# 休憩ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-warning panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    休憩
    <% end  %>
    <%# 出勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-success panel"}) do %>
    <%= icon("fas", "sign-in-alt") %>
    <br>
    出勤
    <% end  %>

    <%# 退勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-primary panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    退社
    <% end  %>

    <%# 休憩ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-warning panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    休憩
    <% end  %>
    <%# 出勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-success panel"}) do %>
    <%= icon("fas", "sign-in-alt") %>
    <br>
    出勤
    <% end  %>

    <%# 退勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-primary panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    退社
    <% end  %>

    <%# 休憩ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-warning panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    休憩
    <% end  %>
    <%# 出勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-success panel"}) do %>
    <%= icon("fas", "sign-in-alt") %>
    <br>
    出勤
    <% end  %>

    <%# 退勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-primary panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    退社
    <% end  %>

    <%# 休憩ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-warning panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    休憩
    <% end  %>
    <%# 出勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-success panel"}) do %>
    <%= icon("fas", "sign-in-alt") %>
    <br>
    出勤
    <% end  %>

    <%# 退勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-primary panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    退社
    <% end  %>

    <%# 休憩ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-warning panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    休憩
    <% end  %>
    <%# 出勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-success panel"}) do %>
    <%= icon("fas", "sign-in-alt") %>
    <br>
    出勤
    <% end  %>

    <%# 退勤ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-primary panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    退社
    <% end  %>

    <%# 休憩ボタン %>
    <%= link_to(root_path, {class:"col-6 btn btn-outline-warning panel"}) do %>
    <%= icon("fas", "sign-out-alt") %>
    <br>
    休憩
    <% end  %>

  </div>
</div>
