<%#
  社員情報出力用パーティション
  ※社員情報一覧画面から呼び出される
%>

<%# trには社員情報を一意に識別でき、かつ閲覧者に見えても問題のない情報をidに指定する %>
<tr id="<%= employee.employee_code %>">
  <%# 社員コード %>
  <td name="employee_code"><%= employee.employee_code %></td>

  <%# 権限 %>
  <td name="roles">
    <% employee.roles.each do |r| %>
    <%# 権限名によってラベルのデザインを切り替える %>
    <%
     label_classes = ["btn"]

     case r.role_name
      # システム管理者
     when I18n.t("master_data.role.admin") then
      label_classes << "btn-danger"
      # マネージャ
     when I18n.t("master_data.role.manager") then
      label_classes << "btn-success"
      # 一般社員
     when I18n.t("master_data.role.common") then
      label_classes << "btn-dark"
     end
    %>
    <div class="<%= label_classes.join(" ") %>">
      <%= r.role_name  %>
      <% end %>
    </div>
  </td>

  <%# 氏名 %>
  <td name="employee_full_name"><%= employee.employee_full_name %></td>

  <%# メールアドレス %>
  <td name="email"><%= employee.email %></td>

  <%# 就業状況 %>
  <td name="employment_status"><%= employee.employment_status.status_name %></td>
</tr>
