<%# HTMLのtitle定義部 %>
<% provide(:title, I18n.t("label.title.employee_list")) %>

<%# 本体出力部 %>
<h1><%= I18n.t("label.title.employee_list") %></h1>

<%# ページネーションバー %>
<%= paginate(@employees) %>

<table name="employees" class="table table-striped table-hover">

  <thead>
    <th scope="col"><%= t("activerecord.attributes.employee.employee_code") %></th>
    <th scope="col"><%= t("activerecord.models.role") %></th>
    <th scope="col"><%= t("activerecord.attributes.employee.employee_name") %></th>
    <th scope="col"><%= t("activerecord.attributes.employee.email") %></th>
    <th scope="col"><%= t("activerecord.models.employment_status") %></th>
  </thead>
  <tbody>

    <%# 社員情報一覧出力 %>
    <%= render(@employees) %>

  </tbody>
</table>

<%# ページネーションバー %>
<%= paginate(@employees) %>
