<%#
社員情報の登録画面
%>

<%# HTMLのtitle定義部 %>
<% provide(:title, I18n.t("devise.registrations.new.sign_up")) %>

<%= render "devise/shared/error_messages", resource: resource %>

<%# Bootstrapのcol幅を調整するための変数 %>
<%
  col_max_width = 12

  # ----- ヘッダ
  col_width_header = 3

  # ----- 入力欄
  # 入力欄:1つ
  col_width_input_one = (col_max_width - col_width_header) / 1

  # 入力欄:2つ
  col_width_input_two = (col_max_width - col_width_header) / 2

  # 入力欄:4つ
  col_width_input_four = (col_max_width - col_width_header) / 4
%>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<div class="form-row text-left">

  <%# ----- メールアドレス %>
  <div class="form-group col-xs-12 col-md-<%=col_width_header%>">
    <%= f.label :email %>
  </div>
  <div class="form-group col-md-<%=col_width_input_one%>">
    <%= f.email_field(
          :email,
          placeholder: Employee.human_attribute_name(:email),
          autofocus: true,
          autocomplete: "email",
          class: "form-control",
        )
      %>
  </div>

  <%# ----- 社員コード %>
  <div class="form-group col-md-<%=col_width_header%>">
    <%= f.label :employee_code %>
  </div>
  <div class="form-group col-md-<%=col_width_input_one%>">
    <%= f.text_field(
          :employee_code,
          placeholder: Employee.human_attribute_name(:employee_code),
          autocomplete: "employee_code",
          class: "form-control",
        )
    %>
  </div>

  <%# ----- 社員名(姓・名) %>
  <div class="form-group col-md-<%=col_width_header%>">
    <%= f.label :employee_full_name %>
  </div>

  <%# 社員名(姓) %>
  <div class="form-group col-md-<%=col_width_input_two%>">
    <%= f.text_field(
          :employee_last_name,
          placeholder: Employee.human_attribute_name(:employee_last_name),
          class: "form-control",
        )
    %>
  </div>

  <%# 社員名(名) %>
  <div class="form-group col-md-<%=col_width_input_two%>">
    <%= f.text_field(
          :employee_first_name,
          placeholder: Employee.human_attribute_name(:employee_first_name),
          class: "form-control",
        )
    %>
  </div>

  <%# ----- 社員名カナ(姓・名) %>
  <div class="form-group col-md-<%=col_width_header%>">
    <%= f.label :employee_full_name_kana %>
  </div>

  <%# 社員名カナ(姓) %>
  <div class="form-group col-md-<%=col_width_input_two%>">
    <%= f.text_field(
          :employee_last_name_kana,
          placeholder: Employee.human_attribute_name(:employee_last_name_kana),
          class: "form-control",
        )
    %>
  </div>

  <div class="form-group col-md-<%=col_width_input_two%>">
    <%# 社員名カナ(名) %>
    <%= f.text_field(
    :employee_first_name_kana,
          placeholder: Employee.human_attribute_name(:employee_first_name_kana),
          class: "form-control",
        )
    %>
  </div>

  <%# ----- 年齢 %>
  <div class="form-group col-md-<%=col_width_header%>">
    <%= f.label :age %>
  </div>
  <div class="form-group col-md-<%=col_width_input_one%>">
    <%= f.text_field(
          :age,
          placeholder: Employee.human_attribute_name(:age),
          class: "form-control",
        )
    %>
  </div>

  <%# ----- 部署・所属種別・着任日・離任日 %>
  <%#
    `社員`の子モデルである、`社員-部署`登録用フォーム
    ※fields_forの第一引数に`:employee_departments`を指定するとフォームが表示されないため、
     第二引数にインスタンスを明示する。
   %>
  <%= f.fields_for :employee_departments ,resource.employee_departments.build do |ed|  %>
  <% (1..1).each do |i|  %>
  <div class="form-group col-md-<%=col_width_header%>">
    <%# ヘッダは1行目のみ表示 %>
    <% if i == 1  %>
    <%= f.label Department.model_name.human %>
    <% end  %>
  </div>
  <%# 所属種別 %>
  <div class="form-group col-md-<%=col_width_input_four%>">
    <%= ed.collection_select(
            :affiliation_type_id,
            AffiliationType.all,
            :id,
            :affiliation_type_name,
            # デフォルト値は空文字とする
            {prompt: ""},
            {class: "form-control"},
          )
      %>
  </div>
  <%# 部署 %>
  <div class="form-group col-md-<%=col_width_input_four%>">
    <%= ed.collection_select(
            :department_id,
            # 現在有効な組織のみを表示
            Department.enable_departments,
            :id,
            :department_name,
            # デフォルト値は空文字とする
            {prompt: ""},
            {class: "form-control"},
          )
      %>
  </div>
  <%# 着任日 %>
  <div class="form-group col-md-<%=col_width_input_four%>">
    <%= ed.date_field(
            :start_date,
            # デフォルトは現在年月1日とする
            {value: Date.today.strftime("%Y-%m-01"), class: "form-control"},
          )
      %>
  </div>
  <%# 離任日 %>
  <div class="form-group col-md-<%=col_width_input_four%>">
    <%= ed.date_field(
            :end_date,
            # デフォルトは9999/12/31(有効な所属情報)とする
            {value: "9999-12-31", class: "form-control"},
          )
      %>
  </div>
  <% end %>
  <% end %>

  <%# ----- 権限 %>
  <div class="form-group col-md-<%=col_width_header%>">
    <%= f.label Role.human_attribute_name(:role_name) %>
  </div>
  <div class="form-group col-md-<%=col_width_input_one%>">
    <%= f.collection_select(
          :role_ids,
          Role.all,
          :id,
          :role_name,
          {
            # デフォルト値は「一般社員」とする
            selected: 3,
          },
          {class: "form-control"},
        )
    %>
  </div>

  <%# ----- 就業状況 %>
  <div class="form-group col-md-<%=col_width_header%>">
    <%= f.label :employment_status %>
  </div>
  <div class="form-group col-md-<%=col_width_input_one%>">
    <%= f.collection_select(
          :employment_status_id,
          EmploymentStatus.all,
          :id,
          :status_name,
          {
            # デフォルト値は「在職」とする
            selected: 1,
          },
          {class: "form-control"},
        )
    %>
  </div>

  <%# ----- パスワード設定 %>
  <div class="form-group col-md-<%=col_width_header%>">
    <%= f.label :password %>
  </div>

  <div class="form-group col-md-<%=col_width_input_one%>">
    <%# パスワード %>
    <%= f.password_field(
          :password,
          autocomplete: "new-password",
          placeholder: I18n.t("devise.passwords.edit.new_password"),
          class: "form-control",
        )
    %>

    <%# パスワード(確認用) %>
    <%= f.password_field(
          :password_confirmation,
          autocomplete: "new-password",
          placeholder: I18n.t("devise.passwords.edit.confirm_new_password"),
          class: "form-control",
        )
    %>

  </div>
</div>


<div class="actions">
  <%= f.submit I18n.t("devise.registrations.new.sign_up"), {class: "btn btn-primary devise-form"} %>
</div>
<% end %>

<%= render "devise/shared/links" %>
