<%# HTMLのtitle定義部 %>
<% provide(:title, I18n.t("label.title.error_500")) %>

<div class="alert alert-danger"><%= I18n.t("label.title.error_500") %>(<%= Time.now %>)</div>
<%= link_to(root_path, {class:"btn btn-outline-secondary"}) do %>
<%= icon("fas", "chevron-circle-left") %>
<br>
<%=I18n.t("label.link.back_to_top") %>
<% end  %>
