<%#
ログイン画面
%>

<%# HTMLのtitle定義部 %>
<% provide(:title, I18n.t("devise.sessions.new.sign_in")) %>

<%# 本体出力部 %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="col">
    <%= f.email_field(
          :email,
          placeholder: Employee.human_attribute_name(:email),
          autofocus: true, autocomplete: "email",
          class: "devise-form form-control",
        )
    %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= f.password_field(
          :password,
          placeholder: Employee.human_attribute_name(:password),
          autocomplete: "current-password",
          class: "devise-form form-control",
        )
    %>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="actions">
      <%= f.submit I18n.t("devise.sessions.new.sign_in"), {class: "btn btn-primary devise-form"} %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <% if devise_mapping.rememberable? %>
    <div class="field" style="margin:10px;">
      <%= f.check_box :remember_me %>
      <%= f.label "次回から自動ログイン" %>
    </div>
  </div>
</div>
<% end %>

<% end %>
</div>
<%= render "devise/shared/links" %>
