<%# メニューバーの挙動を制御するためのJavaScript%>
<%= javascript_pack_tag 'menu' %>

<%# 画面上部に固定する%>
<header class="fixed-top">
  <nav class="nav bg-dark pt-1 pb-1">
    <div class="col-12">

      <%# ロゴとメニュー画面を横並びにする %>
      <div class="d-flex felx-row justify-content-between">

        <%# -------------------------- %>
        <%# ----- アプリ名 %>
        <div class="logo p-2">
          <%= link_to("ポチっと勤怠", main_index_path, id: "logo")%>
        </div>

        <%# -------------------------- %>
        <%# ----- メニュー表示部 %>
        <div class="nav-menu p-2">
          <%# モバイルアクセス時に表示するハンバーガーメニューのボタン(横線3つ) %>
          <%# ※span内は空文字のままにしておくこと %>
          <div class="nav-button" href="#">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <%# メニューバー(モバイル、PC共通) %>
          <div class="nav-wrap">
            <ul class="nav-list">
              <li>
                <a href="#">
                  項目1
                </a>
              </li>
              <li>
                <%# ログアウトボタン %>
                <%= link_to(I18n.t("label.devise.sign_out"), logout_path, method: :delete)%>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <% if employee_signed_in? %>
  <nav class="nav bg-info pt-1 pb-1">
    <div class="col-12">
      <%# -------------------------- %>
      <%# ----- ログイン中の社員情報 %>
      <div class="emp_info">
        <%= @employee %>
        <%= @employee.employee_name%>(<%= I18n.t("activerecord.attributes.employee.employee_code")%>：<%= @employee.employee_code%>)
      </div>
    </div>
  </nav>
  <% end  %>
</header>
