<!DOCTYPE html>
<html>

<head>
  <title><%= I18n.t("app_name") %> - <%= yield(:title)%></title>

  <%# クロスサイトスクリプティング防止のためのタグ %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%# CSS、JavaScriptの読み込み %>
  <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': 'reload') %>
  <%= javascript_pack_tag('application', 'data-turbolinks-track': 'reload') %>

  <%# IE9でも、HTML5を認識させるための設定 %>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->

  <%# モバイル端末からのアクセス時に適切に画面表示するための設定 %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body class="text-center">
  <%# ================================================================= %>
  <%# ===== ヘッダ部分 %>
  <%# ===== ※fixed-topを用いるとcontainer,row,colが機能しないため、あえて定義しない %>
  <%= render("layouts/header") %>

  <div class="container">

    <%# ================================================================= %>
    <%# ===== deivseのフラッシュメッセージ %>
    <%# 通知メッセージ %>
    <% if(!notice.blank?)  %>
    <p id="message_notice" class="notice alert alert-info"><%= notice %></p>
    <% end  %>

    <%# 警告メッセージ %>
    <% if(!alert.blank?)  %>
    <p id="message_alert" class="alert alert-danger"><%= alert %></p>
    <% end  %>

    <%# ===== メインコンテンツ部分 %>
    <%= yield %>

    <hr>

    <%# ================================================================= %>
    <%# ===== フッター部分 %>
    <div class="row">
      <div class="col-12">
        <%= render("layouts/footer")  %>
      </div>
    </div>
  </div>

</body>

</html>
